/* style.css */
* {
    margin: 0;
    padding: 0;
}

#score-container {
    font-size: 2em;
    text-align: center;
    color: #ffdab9;
    background-color: purple;
    padding: 10px;
}

#octopus {
    display: block;
    width: 200px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

.bonus-appear {
    animation: flyInFromTop 1s ease-in-out both;
}
/* style.css */
.crumb {
    position: absolute;
    width: 20px;               /* Размер вашей картинки */
    height: 20px;              /* Размеры масштабируются пропорционально */
    animation: riseAndFade 0.5s ease-in-out forwards;
}

@keyframes riseAndFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}
@keyframes flyInFromTop {
    0% {
        transform: translateY(-100vh); /* Начинаем вне видимости сверху */
        opacity: 0;
    }
    100% {
        transform: translateY(0);      /* Появляемся на своё место */
        opacity: 1;
    }
}